// Colors

$color-brand-text:#143261;
$color-brand-800:#1b4686;
$color-brand-700:#215bb2;
$color-brand-600:#2567ca;
$color-brand-500:#2372e8;
$color-brand-400:#4fa6f8;
$color-brand-300:#98cdfb;
$color-brand-200:#ddeffe;
$color-brand-100:#f5fbff;

$color-accent-text:#4f1809;
$color-accent-800:#76220a;
$color-accent-700:#962708;
$color-accent-600:#bd320a;
$color-accent-500:#dd3809;
$color-accent-400:#f25b36;
$color-accent-300:#f9a590;
$color-accent-200:#fedbd2;
$color-accent-100:#fff7f5;

$color-neutral-text:#2f3740;
$color-neutral-800:#45505e;
$color-neutral-700:#6a7685;
$color-neutral-600:#8694a6;
$color-neutral-500:#a0aebd;
$color-neutral-400:#b7c4d2;
$color-neutral-300:#d3dce3;
$color-neutral-200:#ebeff2;
$color-neutral-100:#f8f9fa;

$color-red-100:#fef6f6;
$color-red-200:#fbe0e1;
$color-red-300:#f2a6a8;
$color-red-400:#e9676c;
$color-red-500:#d3171e;
$color-red-600:#b8141a;
$color-red-700:#931015;
$color-red-800:#781115;
$color-red-text:#4e0e10;

$color-yellow-100:#fefaeb;
$color-yellow-200:#fff0b3;
$color-yellow-300:#ffe58f;
$color-yellow-400:#ffd138;
$color-yellow-500:#f7be00;
$color-yellow-600:#cb980b;
$color-yellow-700:#936e10;
$color-yellow-800:#674c0f;
$color-yellow-text:#43310a;

$color-green-100:#f9fdf1;
$color-green-200:#ebf7d4;
$color-green-300:#cdeaa1;
$color-green-400:#abdb61;
$color-green-500:#88c924;
$color-green-600:#6a9f19;
$color-green-700:#517d0f;
$color-green-800:#426111;
$color-green-text:#283b0c;

$color-dark-soil:#dfd8d2;
$color-soil:#eae4df;
$color-light-soil:#f5f2ef;
$color-paper:#faf7f5;
$color-dark-teal:#037a63;
$color-teal:#43cdb4;
$color-light-teal:#8bead9;
$color-lightest-teal:#c8fbf2;
$color-dark-purple:#405180;
$color-purple:#6f82b7;
$color-light-purple:#98a8d7;
$color-lightest-purple:#d4defa;
