// Colors

$light-blue: #eaf4fb;
$medium-blue: #abd4ed;
$dark-blue: #3798d4;

$light-green: #cde9a1;
$dark-green: #75a527;

$light-yellow: #fcf5c5;
$dark-yellow: #dabe0b;

$light-red: #fcede9;

$lightest-grey: #f8f9fa;
$light-grey: #c5cdd3;
$medium-grey: #8696a2;
$dark-grey: #45505e;
