@import './vars';

$main-header-height: 75px;

#main-header {
  height: $main-header-height;
  padding: 15px;

  #header-nav {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  
    #header-nav-left {
      #logo {
        font-size: 22px;
        font-weight: bold;
        color: $color-brand-600;
      }
    }
    
    #header-nav-right {
      display: flex;
      justify-content: flex-end;
      align-items: baseline;
    
      > div {
        padding: 5px 10px;
      }
  
      #user-menu-button, #create-poll-button {
        height: 36px;
        padding: 10px 20px;
        font-size: 16px;
        font-weight: bold;
        cursor: pointer;
      }
  
      #user-menu {
        color: $color-neutral-800;
  
        #user-menu-button {
          border-radius: 3px;
          
          #down-arrow {
            font-size: 22px;
            line-height: 16px;
          }  
        }

        #user-menu-button:hover {
          background: $color-neutral-100;
        }
  
        #user-menu-button:focus {
          box-shadow: $color-brand-700 0 0 0 2px;
        }  
  
        #user-menu-entries {
          position: relative;
          top: 2px;
          z-index: 1;
          background: white;
          border: 1px solid $color-neutral-300;
          border-radius: 3px;
          box-shadow: rgba(0, 0, 0, 0.23) 0px 3px 12px 0px, rgba(0, 0, 0, 0.16) 0px 3px 12px 0px;
          display: none;
          
          .user-menu-entry {
            width: 100%;
            height: 56px;
            padding: 16px 24px;
            text-align: center;
  
            a {
              color: $color-neutral-800;
            }
          }

          .user-menu-entry:hover {
            background-color: $color-brand-200;
          }
        }

        #user-menu-entries.expanded {
          display: block;
        }
      }
  
      #create-poll-button {
        background: $color-accent-500;
        color: white;
        text-align: center;
        text-decoration: none;
      }
    }
  }  
}

