{% extends "base/base.html" %}
{% load static from staticfiles %}

{% block head %}
  <title>ReDoodle</title>
  <link rel="stylesheet" href="{% static 'accounts/out/css/registration.css' %}">
{% endblock %}

{% block mainparams %} 
  page="{{ page }}"
  loginurl="{% url 'login' %}"
  signupurl="{% url 'signup' %}"
{% endblock %}

{% block header %}
  <div id="login-header">ReDoodle</div>
{% endblock %}

{% block footer %}
<script src="{% static 'accounts/out/js/registration.js' %}"></script>
{% endblock %}
