@import '../../../../../base/static/base/src/scss/vars';

$login-container-width: 450px;
$login-form-width: 250px;

#login-header {
  margin-top: 20px;
  width: 100%;
  text-align: center;
  color: white; 
  font-size: 22px;
  font-weight: bold;
}

#main {
  width: $login-container-width;
  padding: 40px;
}

#login-tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;

  >div {
    position: relative;
    padding: 10px 15px;
    font-weight: bold;
    color:$color-neutral-700;
    cursor: pointer;

    a {
      color: inherit;
      text-decoration: none;
    }
  }

  >div.selected {
    color: $color-brand-500;
  }

  >div:after {
    content: "";
    border-radius: 2px 2px 0 0;
    display: block;
    position: absolute;
    height: 4px;
    bottom: 0;
    left: 0;
    right: 0;
    transition: all .3s;
    background-color: transparent;
  }

  >div.selected:after{
    background-color: $color-brand-500;
  }

  >div:not(.selected):hover:after {
    background-color: $color-neutral-300;
  }
}

#login-form, #signup-form {
  width: $login-form-width;
}
