@import 'vars';

* {
  box-sizing: border-box;
  font-family: 'Fira Sans', sans-serif;
}

body {
  background: $dark-blue;
}

#main {
  width: fit-content;
  margin: 20px auto;
  border-radius: 3px;
  background: white;
}
