@import '../../../../../base/static/base/src/scss/vars';

$poll-table-column-width: 72px;
$poll-table-row-height: 45px;

#main {
  padding: 40px 0px;
}

#poll-header {
  text-align: center;

  h1 {
    margin: 0;
  }

  p {
    margin: 0;
    font-size: 0.875rem;
  }
}

#poll-main {
  border-radius: 6px;
  margin: 20px;
  padding: 20px;
}

#poll-details {
  .fas, .far {
    margin-right: 10px;
    text-align: center;
    font-size: 0.875rem;
  }
}

#poll-participants-container {
  margin-top: 40px;
}

#poll-participants-table {
  background: white;
  border-collapse: collapse;

  th, td {
    border: 1px solid lightgrey;
  }

  #poll-table-header th {
    font-weight: normal;
  
    .poll-table-header-month {
      font-size: 0.875rem;
    }

    .poll-table-header-day {
      font-size: 1.625rem;
    }

    .poll-table-header-weekday, .poll-table-header-time {
      font-size: 0.75rem;
      text-transform: uppercase;
    }
  }

  #poll-participants-summary, .poll-participant-details {
    width: 250px;
    text-align: left;

    >div {
      display: inline-block;
      vertical-align: middle;
      line-height: $poll-table-row-height;
    }
  }

  #poll-availability-summary, .poll-participant-availability {
    width: $poll-table-column-width;
    text-align: center;
  }

  #poll-table-summary {
    #poll-participants-summary {
      #poll-n-participants {
        margin-left: 15px;
        width: calc(100% - 55px);
        color: $color-neutral-600;
        font-weight: bold;
      }

      #poll-add-participant {
        width: 40px;
        padding: 0px 10px;
        color: $color-brand-500;
        cursor: pointer;
      }

      #poll-add-participant:hover {
        background: $color-brand-100;
      }
    }

    #poll-availability-summary {
      color: $color-brand-500;
    }
  }

  .poll-participant-availability {
    font-size: 1.4rem;
  }

  .poll-participant-row[editing="false"] {

    .poll-participant-details {
      .poll-participant-icon {
        margin-left: 15px;
        width: 20px;
      }

      .poll-participant-name {
        width: calc(100% - 90px);
        margin-left: 5px;
        margin-right: 10px;
        white-space: nowrap;
        overflow: hidden;
      }

      .poll-participant-edit {
        width: 40px;
        padding-left: 12px;
        padding-right: 8px;
        opacity: 0;
        cursor: pointer;
      }
    }

    .poll-participant-details:hover .poll-participant-edit {
      opacity: 1;
      background: $color-brand-100;
    }

    .poll-participant-availability[availability="Y"] {
      background: $color-green-300;
      color: $color-green-600;
    }
    .poll-participant-availability[availability="M"] {
      background: $color-yellow-200;
      color: $color-yellow-500;
    }
    .poll-participant-availability[availability="N"] {
      background: $color-red-100;
    }
  }

  .poll-participant-row[editing="true"] {
    background: $color-brand-300;

    .poll-participant-details { 
      .poll-participant-delete {
        margin-left: 15px;
        width: 20px;
        cursor: pointer;
      }

      .poll-participant-name-input {
        width: calc(100% - 90px);
        height: 35px;
        margin-left: 5px;
        margin-right: 50px;
        border-radius: 6px;
        border: 0px;
        padding: 0 10px;
      }

      .poll-participant-name-input:focus {
        outline: 0;
        border: 2px solid #2475a8;
      }
    }

    .poll-participant-availability {
      .poll-participant-availability-checkbox {
        -webkit-appearance: none;
        width: 25px;
        height: 25px;
        background-color: white;
        font-size: 1rem;
      }

      .poll-participant-availability-checkbox[availability="Y"] {
        padding: 5px 4.5px;
        color: $color-green-600;
      }

      .poll-participant-availability-checkbox[availability="M"] {
        padding: 5px 3.5px 5px 5.5px;
        color: $color-yellow-500;
      }
    }
  }
}

#poll-submit-button {
  margin-top: 10px;
  margin-left: auto;
  width: fit-content;
  height: 50px;
  line-height: 15px;
  white-space: nowrap;
  padding: 10px;
  text-align: center;
  border-radius: 6px;
  border: 1px solid;
  cursor: pointer;

  #poll-submit-action {
    font-weight: bold;
  }
}

#poll-submit-button[isDisabled="true"] {
  background: $color-neutral-400;
  border-color: $color-neutral-400;
  color: $color-neutral-600;
  cursor: not-allowed;
}

#poll-submit-button[isDisabled="false"][cannotAttend="true"] {
  background: white;
  border-color: $color-neutral-400;
  color: $color-neutral-600;
}

#poll-submit-button[isDisabled="false"][cannotAttend="false"] {
  background: $color-brand-500;
  border-color: $color-brand-500;
  color: white;
  padding: 17.5px 40px;
}
