* {
  box-sizing: border-box;
}

$poll-table-column-width: 72px;
$poll-table-row-height: 45px;
$light-blue: #eaf4fb;
$medium-blue: #abd4ed;
$dark-blue: #3798d4;
$light-green: #cde9a1;
$dark-green: #75a527;
$light-yellow: #fcf5c5;
$dark-yellow: #dabe0b;
$light-red: #fcede9;


#main {
  width: 500px;
  margin: 20px auto;
  background: $dark-blue;
}

#poll-container {
  padding: 40px 0px;
}

#poll-header {
  color: white;
  text-align: center;

  h1 {
    margin: 0;
    font-style: italic;
  }

  p {
    margin: 0;
    font-size: 0.875rem;
  }
}

#poll-main {
  background: rgb(250,247,245);
  border-radius: 6px;
  margin: 20px;
  padding: 20px;
}

#poll-details {
  .fas, .far {
    width: 20px;
    margin-right: 10px;
    text-align: center;
    color: #5d6e79;
    font-size: 0.875rem;
  }
}

#poll-participants-container {
  margin-top: 40px;
}

#poll-participants-table {
  background: white;
  border-collapse: collapse;

  th, td {
    border: 1px solid lightgrey;
  }

  #poll-table-header th {
    font-weight: normal;
  
    .poll-table-header-month {
      font-size: 0.875rem;
    }

    .poll-table-header-day {
      font-size: 1.625rem;
    }

    .poll-table-header-weekday, .poll-table-header-time {
      font-size: 0.75rem;
      text-transform: uppercase;
    }
  }

  #poll-participants-summary, .poll-participant-details {
    width: 250px;
    text-align: left;

    >div {
      display: inline-block;
      vertical-align: middle;
      line-height: $poll-table-row-height;
    }
  }

  #poll-availability-summary, .poll-participant-availability {
    width: $poll-table-column-width;
    text-align: center;
  }

  #poll-table-summary {
    #poll-participants-summary {
      #poll-n-participants {
        margin-left: 15px;
        width: calc(100% - 55px);
        color: grey;
        font-weight: bold;
      }

      #poll-add-participant {
        width: 40px;
        padding: 0px 10px;
        color: $dark-blue;
      }
    }

    #poll-availability-summary {
      color: $dark-blue;
    }
  }

  .poll-participant-availability {
    font-size: 1.4rem;
  }

  .poll-participant-row[editing="false"] {

    .poll-participant-details {
      .poll-participant-icon {
        margin-left: 15px;
        width: 20px;
      }

      .poll-participant-name {
        width: calc(100% - 90px);
        margin-left: 5px;
        margin-right: 10px;
        white-space: nowrap;
        overflow: hidden;
      }

      .poll-participant-edit {
        width: 40px;
        padding-left: 12px;
        padding-right: 8px;
        opacity: 0;
      }
    }

    .poll-participant-details:hover .poll-participant-edit {
      opacity: 1;
      background: $light-blue;
    }

    .poll-participant-availability[response="Y"] {
      background: $light-green;
      color: $dark-green;
    }
    .poll-participant-availability[response="M"] {
      background: $light-yellow;
      color: $dark-yellow;
    }
    .poll-participant-availability[response="N"] {
      background: $light-red;
    }
  }

  .poll-participant-row[editing="true"] {
    background: $medium-blue;

    .poll-participant-details { 
      .poll-participant-delete {
        margin-left: 15px;
        width: 20px;
      }

      .poll-participant-name-input {
        width: calc(100% - 90px);
        height: 35px;
        margin-left: 5px;
        margin-right: 50px;
        border-radius: 6px;
        border: 0px;
        padding: 0 10px;
      }

      .poll-participant-name-input:focus {
        outline: 0;
        border: 2px solid #2475a8;
      }
    }

    .poll-participant-availability {
      .poll-participant-availability-checkbox {
        -webkit-appearance: none;
        width: 25px;
        height: 25px;
        background-color: white;
        font-size: 1rem;
      }

      .poll-participant-availability-checkbox[response="Y"] {
        margin-top: -1px;
        padding: 5px 4.5px;
        color: $dark-green;
      }

      .poll-participant-availability-checkbox[response="M"] {
        margin-top: -1px;
        padding: 5px 3.5px 5px 5.5px;
        color: $dark-yellow;
      }
    }
  }
}
